<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Simple Chat App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%# <link rel="shortcut icon" href="app/assets/images/chat_icon.ico" type="image/x-icon"/> %>
    <%= favicon_link_tag asset_path('chat_icon.ico') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
